*,
*::after,
*::before {
 box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header__wrapper {
    padding-top: 43px;
    padding-bottom: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigator-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__navigator-item:nth-child(2n) {
    margin: 0 32px;
}

.header__navigator-inner {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: color 0.7s ease;
}

.header__navigator-inner:hover {
    color: black;
    
}

                            /* <!-- ==========MAIN-HERO========== --> */

.hero__container {
    background-image: url("/images/main/Bitmap.jpg");
    padding-top: 117px;
    padding-bottom: 116px;
    padding-right: 702px;
    padding-left: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.hero__wrapper{
    width: 493px;
}


.hero__heading{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__text {
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 56px;
}

.bottom {
    display: block;
    width: 217px;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    padding: 15px;
    text-align: center;
    color: #FEFCF7;
    background-color: #66D2CF;
    border-radius: 6px; 
}
.bottom:hover{
    color: black;
    transform: scale(1.3);
    transition: all 1.5s ease;
}
                            /* ========== OUR COLLECTION ========= */

.our-collection__list{
    display: flex;
}

.our-collection .container{
    margin-top: 110px;
    position: relative;
    background-image: url("/images/main/our\ collection.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.our-collection__list-item {
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 179px;
    width: 255px;
    list-style-type: none;
    text-align: center;
   
}

.our-collection__list-item:hover {
    transform: scale(1.2);
    transition: all 02s ease;
    color: red;
}

                            /* ========== CHOOSE SECTION ========== */

.choose__wrapper{
    width: 1280px;
    height: 577px;
    background-color:#2C343E;
    border-radius: 10px;
}

.choose__text{
    text-align: center;
    width: 540px;
    margin-right: 370px;
    margin-left: 370px;
    color: #FEFCF7;
}                          

.choose__text-header {
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 120px;
}

.choose__list{
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.choose__list-item {
    margin-top: -220px;
    margin-left: 50px;
    margin-bottom: 200px;
    background-color: #0E8784;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 382px;
}

.choose__list-item:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.choose__list-wrapper {
    width: 250px;
    padding-left: 47px;
    color: #FEFCF7;
}

.choose__images {
    padding-top: 72px;
    padding-bottom: 56px;
}

/* <!-- ==========HOW IT WORKS========== --> */

.works__wrapper {
    margin-top: 300px;
}

.works__header {
    color: #83888F;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.works__line {
    margin-top: 95px;
    margin-bottom: 82px;
    position: relative;
    display: block;
    width: 760px;
    height: 1px;
    background-color: #FDD6BA;
    border: 2px solid #FDD6BA;
}

.works__line::before{
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
    transform: translate( -50%, -50%);
}

.works__line::after{
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    right: 0;
    top: 0;
    border-radius: 50%;
    transform: translate( 50%, -50%);
}

.works__line--sub {
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    right: 50%;
    top: 0;
    border-radius: 50%;
    transform: translate( 50%, -50%);
}

.works__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.works__item{
    margin-right: 95px;
}

.works__items--inner {
    width: 285px;
}

.works__list-header {
    font-family: "Fraunces" 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 38px;
    margin-bottom: 42px;
    width: 255px;
}

.works__link{
    margin-top: 64px;
    margin-bottom: 108px;
}

/* ==========FOOTER========== */

.footer-wrapper {
    margin-bottom: 40px;
    display: flex;
    padding: 47px 85px;
    justify-content: space-between;
    background-color: #2C343E;
    border-radius: 10px;
}

.footer__list-text{
    display: flex;
    list-style-type: none;
}

.footer__list-text--item{
    margin-right: 32px;
    text-decoration: none;
    color: #83888F;
}

.footer__list-text--item:hover{
    color: white;
    transition: all 1s ease;
}

.footer__list-imges{
    display: flex;
    list-style-type: none;
}

.footer__list-imges--item{
    margin-right: 24px;
}

.footer__list-imges--item:hover{
    transform: scale(1.5);
    transition: all 1.5s ease;
}